.todo-input {
  padding: 10px;
  font-size: 1rem;
}

.add-button {
  padding: 10px;
  font-size: 1rem;
  background-color: green;
  color: white;
}

.ok-logo {
  width: 40px;
  margin: 10px;
  cursor: pointer;
}

.todoText {
  /* width: 75%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.clear-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-button {
  padding: 10px;
  font-size: 1rem;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.delete-logo {
  width: 40px;
  margin: 10px;
  cursor: pointer;
}

button {
  cursor: crosshair;
  transition: all linear .3s;
  border: none;
  margin: 1rem;
}

button:hover {
  opacity: 0.9;
  /* box-shadow: 0 0 5px black; */
  text-shadow: 3px 0 3px black;
  /* border: 1px solid black; */
  transform: scale(.9);
}